@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "adaptiv";
@import "variable";
@import "button";
@import "cards";
@import "carousel";
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}
.section_background {
  background: $section_color !important;
}
.frame {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 0;
}
// header{
//   min-height: 100vh;
// }
.header__section {
  display: flex !important;
  align-items: center;
}
.right_content {
  height: 100%;
  display: flex !important;
  align-items: center;
}
.left_content {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
}
.description_products {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid white;
  margin-bottom: 0.25rem;
  list-style: none;
}
.products_list_ul {
  padding: 0;
  margin: 0;
}
.offcanvas {
  height: max-content;
  box-shadow: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
    inset -3px -3px 7px rgba(136, 165, 191, 0.48);
}
.items_cover,
.command_text {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.header_title,
h1 {
  color: $color_primary;
}

.btn {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.footer-copyright {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  a {
    text-decoration: none;
    color: $color_accent;
  }
  a:hover {
    text-decoration: none;
    color: $color_accent_hover;
  }
}
.border_shadow_btn {
  border-color: $section_color;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 8px #fff;
}
.footer_input {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3) !important;
  color: #44476a;
  background: $section_color !important;
  border: none !important;
}
.footer__button .btn:hover{
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
  -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
  inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
  inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3) !important;
  border: none!important;
  transition: 0.5s;
}

.price_service_box{
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff!important;
  padding: calc(20px + 0.5rem) 0.5rem 0.5rem 0.5rem;
}

// .promotion_section{
//   max-width: 920px;
//   margin: auto;
//   min-height: 100px;
//   transform: translate(0px,-50px);
//   background: $section_color;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   align-items: center;
//   padding: 1rem;
//   box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
//   -9px -9px 16px rgba(255, 255, 255, 0.5),
//   inset 3px 3px 7px rgba(136, 165, 191, 0.48), inset -3px -3px 7px #ffffff;
//   .onsale{
//     font-size: 48px;
//     color: $color_primary;
//   }
//   .onsale_counter{
//     font-size: 24px;
//     color: $color_primary;
//   }
// }